* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

nav {
  display: flex;
  width: 100%;
  background-color: #DBD3D8;
}

ul {
  display: flex;
  width: 100%;
}

li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 50px;
}

a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Major Mono Display', monospace;
  padding: 0 20px;
}

a:hover {
  background-color: #EFF1F3
}

.activeLink {
  background-color: #EFF1F3
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30%;
  background-color: #223843;
  color: #EFF1F3;
}

.bodyStyling {
  background-color: #EFF1F3;
}

#groupName {
  font-size: 120px;
  font-family: 'Major Mono Display', monospace;
}

.subHeading {
  margin: 80px 0px;
  text-align: center;
  font-size: 40px;
  font-family: 'Major Mono Display', monospace;
  background-color: #EFF1F3;
}

.name {
  padding-top: 20px;
  text-align: center;
  font-size: 25px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.studentNum {
  padding-bottom: 20px;
  text-align: center;
  font-size: 25px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.infoHeading {
  padding-bottom: 10px;
  text-align: center;
  font-size: 25px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.personalInfo {
  padding-right: 50px;
  padding-left: 50px;
  padding-bottom: 20px;
  font-size: 18px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.boxContainer {
  display: flex;
  flex-flow: wrap;
  margin: 0px 150px 100px 150px;
  min-height: 70%;
}

.boxItem {
  flex-basis: 50%;
}

.subPageHeaders {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30%;
  font-size: 100px;
  font-family: 'Major Mono Display', monospace;
}

#colour1 {
  background-color: #223843;
  color: #EFF1F3;
}

#colour2 {
  background-color: #D8B4A0;
}

#colour3 {
  background-color: #D77A61;
}

.toolsSubHeadings {
  padding-top: 50px;
  padding-left: 50px;
  padding-bottom: 50px;
  text-align: center;
  font-size: 30px;
  font-family: 'Major Mono Display', monospace;
}

.websiteHeadings {
  padding-bottom: 5px;
  padding-left: 50px;
  font-size: 20px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.profileLinks {
  padding: 0px;
  font-size: 18px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.profileLinks:hover {
  color: #D77A61;
}

.meetingLinks {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  font-size: 18px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.meetingLinks:link {
  text-decoration: underline;
}

.meetingLinks:hover {
  color: #D77A61;
}

@media (max-width: 1700px) {
  li {
    width: 100%;
    flex: 100%;
  }

  ul {
    flex-wrap: wrap;
  }
}
