* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

nav {
  display:flex;
  width: 100%;
  background-color: #DBD3D8;
}

ul {
  display: flex;
  width: 100%;
}

li {
  list-style: none;
  display: inline-block;
  float: left;
  line-height: 50px;
}

a {
  display: block;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Major Mono Display', monospace;
  padding: 0 20px;
}

a:hover {
  background-color: #EFF1F3
}

.activeLink {
  background-color: #EFF1F3
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30%;
  background-color: #223843;
  color: #EFF1F3;
}

#indexBody {
  background-color: #DBD3D8;
}

#groupName {
  font-size: 120px;
  font-family: 'Major Mono Display', monospace;
}

.subHeadings {
  margin: 50px 0px;
  text-align: center;
  font-size: 35px;
  font-family: 'Major Mono Display', monospace;
  background-color: #DBD3D8;
}

.name-studentNum {
  font-size: 25px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

.personalInfo {
  font-size: 18px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}

#boxContainer {
  display: flex;
  flex-flow: row wrap;
  margin: 0px 150px 50px 150px;
  min-height: 70%;
  background-color: #DBD3D8;
}

.boxItem {
  flex-basis: 50%;
}

@media (max-width: 1700px) {
  li {
    width: 100%;
    flex: 100%;
  }

  ul {
    flex-wrap: wrap;
  }
}
